$font-main: 'Open Sans', sans-serif;
$font-add: 'Oswald', sans-serif;
$main-font-color: #8f8f8f;
$hover-font-color: #fff;
$active-element: #29c5e6;
.column{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
}
.for_pic{
	object-fit: cover;
	object-position: center;
	padding: 1px;
	background: white;
	border: 1px solid #c9c9c9;
}
a:focus{
	outline: none;
}

.main{
	font-family: $font-main;
	color: $main-font-color;
}

.theme__name{
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: nowrap;
	.title__line{
		margin: 1.9% 0 1.9% 1%;
		&:last-child{
		}
		&:first-child{
		flex: 0.06;
		margin-left: 0;
	}
	}
}
.theme__name_title{
	font-family: $font-add;
	font-size: 4em;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 1%;
}
.sidebar__menu{
	width: 100%;
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	margin-bottom: 8%;
	.menu__item{
		list-style: none;
		border-bottom: 1px solid #e7e7e7;
		padding: 2% 1%;
		.menu__item_link{
			color: $main-font-color;
			text-decoration: none;
			text-transform: uppercase;
			position: relative;
			font-size: 1.2em;
			font-family: $font-add;
			font-weight: 300;
			&:hover{
				color: $active-element;
			}
		}
		.menu__item_link:before{
			content: '';
			height: 10px;
			width: 10px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 5px;
			background: $main-font-color;
		}
		.menu__item_link-active{
			color: $active-element;
		}
		.menu__item_link:hover:before, .menu__item_link-active:before{
			background: $active-element;
		}
	}
}
.sidebar__office{
	// display: flex;
	// flex-direction: column;
	// justify-content: flex-start;
	// align-items: stretch;
	@extend .column;
	background: #f3f3f3;
	.office__title{
		background: $active-element;
		padding: 2%;
		.title__our{
			color: white;
			font-size: 1.2em;
			text-transform: uppercase;
			font-family: $font-add;
			font-weight: 400;
		}
	}
}
.office__pic{
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding: 3%;
	border: 1px solid #e7e7e7;
	background: #f3f3f3;
	border-top: none;
	&>*{
		width: 100%;
		max-height: 250px;
	}
	.office__pic_img{
		max-width: 100%;
		height: 250px;
		object-fit: cover;
		object-position: center;
		// max-height: 250px;
	}
}
// .main__content{
// 	padding-left: 2%;
// }

.content__article{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	.article__paragraph{
		font-size: .9em;
		color: $main-font-color;
		font-family: $font-main;
		margin-top: 2%;
	}
	.article__pictures{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		margin: 2% 0 1%;
		&>*{
			width: 47%
		}
		.pictures__img{
			width: 100%;
			object-fit: cover;
			object-position: center;
			max-height: 250px;
			@extend .for_pic;
		}
	}
}
.article__title{
	background: $active-element;
	padding: 1% 2%;
	font-family: $font-add;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
		.title__name{
			font-size: 2em;
			color: white;					
			font-style: italic;
			line-height: 1;
		}
		.title__name:before{
			content: none;
		}
		.title__author{
			color: #1d8ea6;
			font-size: 1.2em;
			text-transform: capitalize;
			font-weight: 400;
			// padding-right: 3%;
			align-self: flex-end;
		}
	}
.content__our-team{
	@extend .column;
	line-height: 1.5;
	.our-team__title{
		background: $active-element;
		padding: 0 1%;
		.title__name{
			color: white;
			font-size: 2em;
			color: white;		
			font-family: $font-add;
			font-weight: 300;
		}	
		.title__name:before{
			content: none;
		}
	}

}
.our-team__family{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		align-content: space-around;
		flex-wrap: wrap;
		.family__item{
			width: 17%;
			@extend .column;
			font-family: $font-add;
			.item__img{
				max-width: 100%;
				padding: 1px;
				background: white;
				@extend .for_pic;
				outline: none;
				border: 1px solid #c9c9c9;
				height: 150px;
			}
			.item__contacts{
				text-decoration: none;
				color: $main-font-color;
				font-weight: 400;
				align-self: flex-start;
			}
			.item__expert{
				text-transform: lowercase;
				font-weight: 700;
				color: $active-element;
			}
		}
	}

.dropdown__item{
	.item__list{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		margin: 0;
		background: #e7e7e7;
		font-family: $font-add;
		width: 100%;
		visibility: hidden;
		height: 0;
		opacity: 0;
		will-change: visibility, height, opacity;
		transition: all .2s ease;
		.list__point{
			list-style: none;
			cursor: pointer;
		border-bottom: 1px solid #dfdfdf;
		}
		.list__point_link{
			color: $main-font-color;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	&:hover{
		color: $active-element;
		.item__list{
			height: auto;
			visibility: visible;
			opacity: 1;
		}
	}
}
.sidebar__dropdown{
	.dropdown__item{
		padding: 0;
		cursor: pointer;
		text-transform: uppercase;

	}
}

.main__content{
	.content__article{
		.article__title{
			background: $active-element;
			padding: 1% 2%;
			font-family: $font-add;
			font-weight: 300;
			font-style: normal;
			.title__name_projects{
				font-style: normal;
				color: white;
			}
			.title__name_projects:before{
				content: none
			}
		}
	}
}

.project__pictures{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	.project__pistures_block{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 47%;
		margin: 0 0 2%;
		.pictures__img{
			width: 100%;
		}
		.pictures__block_description{
			text-transform: uppercase;
		}
	}
}
.projects__technology{
	.projects__title{
		background: $active-element;
		padding: 1% 2%;
		font-style: normal;
	}
	.title__name_projects{
		font-style: normal;
		color: white;
		font-style: 2em;
		font-family: $font-add;
		font-weight: 300;
	}
	.title__name_projects:before{
		content: none;
	}
	.article__paragraph{
		font-family: $font-main;
		font-size: .9em;
		color: $main-font-color;
		margin-top: 2%;
	}
}

.projects__works{
	.title__name{
		font-style: normal;
		color: white;
		font-style: 2em;
		font-family: $font-add;
		font-weight: 300;
	}
	.article__title{
		margin-top: 3%;
	}
}
.works__examples{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 2% 0 4%;
}
.examples__item{
	width: 17%;
	.item__gallery{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-decoration: none;
		color: $main-font-color;
		.gallery__pic{
			width: 100%;
			height: 150px;
			object-fit: cover;
			object-position: center;
		}
	}
}
@media only screen and (max-width: 48em){
	.main__sidebar{
		// order: -1;
		display: none;
		padding: 0;
	}
	.theme__name{
		.theme__name_title{
			font-size: 2.9em;
		}
		.title__line {
    	margin: 3.5% 0 3.5% 1%;
		}
	} 
	.content__article{
	.article__pictures{
		.pictures__img{
			max-height: 200px;
		}
	}
	.article__paragraph, .article__pictures {
		padding: 0 2%;
	}
	}
	.our-team__family{
		display: flex;
		justify-content: space-around;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
		padding: 3% 0;
		.family__item{
			width: 47%;
			.item__img{
				
			}
			.item__contacts, .item__expert{
				align-self: center;
			}
		}
	}
	.header__search{
		padding: 0 2%;
	}
	.main__content{
		padding-right: 0;
	}
	.project__pictures{
		.project__pistures_block{
			width: 100%;
		}
	}
	.projects__technology{
		.article__paragraph{
			padding: 0 2%;
		} 
	}
	.works__examples{
		padding: 2% 2% 4%;
	}
	.examples__item{
		width: 100%;
	}
}
@media only screen and (min-width: 48em){
	.main__sidebar{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		top: 0;
		left: 0;
	}
	.header__search{
		padding: 0;
	}
	.main__content{
		padding-right: 0;
	}
	.sidebar__office{
		display: none;
	}
	.content__article{
	.article__title{
		.title__name{
			font-size: 1.8em;
		}
		.title__author{
			font-size: 1em;
		}
	}
	}
	.theme__name{
		.title__line {
    	margin: 2.2% 0 2.2% 1%;
		}
	} 
	.sidebar__dropdown {
		.dropdown__item {
			padding: 2% 1%;
		}
	}
	.sidebar__menu{
		margin-bottom: 2%;
	}
	.project__pictures{
		.project__pistures_block{
			width: 47%;
		}
	}
	.works__examples{
		padding: 2% 0 4%;
		justify-content: space-around;
	}
	.examples__item{
		width: 47%;
	}
}
@media only screen and (min-width: 62em){
	.sidebar__office{
		display: flex;
	}
	.main__content{
		padding-left: 2%;
	}
	.works__examples{
		justify-content: space-between;
	}
	.examples__item{
		width: 17%;
	}
}

@media only screen and (min-width: 75em){
	
}

